[submodule "deps/ggtest"]
	path = deps/ggtest
	url = https://github.com/google/googletest.git
[submodule "deps/cpptoml"]
	path = deps/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "deps/r2"]
	path = deps/r2
	url = https://ipads.se.sjtu.edu.cn:1312/weixd/r2.git
    branch = new
[submodule "deps/rlib"]
	path = deps/rlib
	url = https://ipads.se.sjtu.edu.cn:1312/weixd/rib.git
[submodule "deps/jemalloc"]
	path = deps/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "deps/ggflags"]
	path = deps/ggflags
	url = https://github.com/gflags/gflags.git
